/**
 * vista.css
 *   Place in the same source directory as Main.java
 *   Ensure that your build system copies this file to your build output directory.
 */

#headerLabel {
    -fx-background-color: steelblue;
    -fx-text-fill: white;
    -fx-padding: 5px;
}

#vistaHolder {
    -fx-background-color: lightgrey;
}

#view1 {
    -fx-background-color: aliceblue;
}

#view2 {
    -fx-background-color: coral;
}

#new_grower {
    -fx-background-color: green;
}

.button {
    -fx-base: lightblue;
    -fx-font-size: 20px;
}